*.exe
*.ilk
*.pdb
*.sdf
*.suo
*.cfg
*.ipch
*.rath
*.opensdf
*.cso
*.lastcodeanalysissucceeded
*.iobj
*.ipdb
*.db
*.editorconfig
ipch/
/Bin
/Lib
/Redist
/Solution/x64
/Solution/Win32
/Solution/tbb/build/vs2010/intel64

/Solution/assimp/code/*.user
/Solution/PhysX/Snippets/compiler/vc11win64/x64/SnippetHelloWorld/debug/SnippetH.DF91286C.tlog/*.tlog
/Solution/PhysX/Source/compiler/vc11win64/*.user
